*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1primeiro{
    font-style: italic;
color: #776deb;
}
.navbar {
    background-color: #776deb;
    color: rgb(255, 255, 255);
}
.navbar ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
.navbar a {
    color: #f7f6ff;
    text-decoration: none;
}
header{
    position: relative;
}
header h3{
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%)
}
.ponto{
    margin: 12px;
    list-style: disc;
}
.ponto2{
    margin: 12px;
    list-style: disc;
}
.ponto3{
    margin: 12px;
    list-style: disc;
}
.ponto4{
    margin: 12px;
    list-style: disc;
}
/* contato.html*/
.formulario-campo{
    display: flex;
    flex: 1;
    gap: 16px;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}
.formulario-campo label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.formulario-campo input,
.formulario-campo select,
.formulario-campo textarea{
    width: 300px;
    justify-self: flex-end;
}