* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1primeiro {
    font-style: italic;
    color: #776deb;
}

.navbar {
    background-color: #776deb;
    color: rgb(255, 255, 255);
}

.navbar ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.navbar a {
    color: #f7f6ff;
    text-decoration: none;
}

header {
    position: relative;
}

header h3 {
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%)
}

.ponto {
    margin: 12px;
    list-style: disc;
}

.ponto2 {
    margin: 12px;
    list-style: disc;
}

.ponto3 {
    margin: 12px;
    list-style: disc;
}

.ponto4 {
    margin: 12px;
    list-style: disc;
}

/* contato.html*/
.formulario-campo {
    display: flex;
    flex: 1;
    gap: 16px;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}

.formulario-campo label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.formulario-campo input,
.formulario-campo select,
.formulario-campo textarea {
    width: 300px;
    justify-self: flex-end;
}

ul {
    margin: 10px;
}

li {
    margin: 10px;
}

.troid img {
    width: 2200px;
    height: 1000px;
}
.quarry img {
    width: 2200px;
    height: 1000px;
}
.oxenfree img {
    width: 2200px;
    height: 1000px;
}
.life img {
    width: 2200px;
    height: 1000px;
}
.until img {
    width: 2200px;
    height: 1000px;
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
}

button.learn-more {
  font-weight: 600;
  color: #2c2f33;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #f6f8fa;
  border: 2px solid #ccd6dd;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e9ebee;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #ccd6dd, 0 0.625em 0 0 #ffffff;
  box-shadow: 0 0 0 2px #ccd6dd, 0 0.625em 0 0 #ffffff;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
  background: #dce0e3;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}

button.learn-more:hover::before {
  -webkit-box-shadow: 0 0 0 2px #ccd6dd, 0 0.5em 0 0 #ffffff;
  box-shadow: 0 0 0 2px #ccd6dd, 0 0.5em 0 0 #ffffff;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
}

button.learn-more:active {
  background: #dce0e3;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}

button.learn-more:active::before {
  -webkit-box-shadow: 0 0 0 2px #ccd6dd, 0 0 #ffffff;
  box-shadow: 0 0 0 2px #ccd6dd, 0 0 #ffffff;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}
.footer{
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center;     /* Centraliza o conteúdo verticalmente */
  height: 100px;           /* Defina uma altura para o footer */
  padding: 20px;
  background-color: #776deb;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: 0.5;
  height: 50px;
}